<div class="">
  <div
    class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom"
  >
    <h2>ایجاد بخش </h2>
  </div>
  <form
    class="form-horizontal"
    action="/admin/sections/create"
    method="post"
  >
  <%- include(viewPath('/errormessages')) -%>
    <div class="form-group row">
      <div class="col">
        <label for="title" class="control-label font-weight-bold">عنوان بخش</label>
        <input type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder="عنوان را وارد کنید"
          value=""
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <label for="description" class="control-label font-weight-bold"
          >متن</label
        >
        <textarea name="description" id="description"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="type" class="control-label font-weight-bold font-weight-bold">نوع</label>
        <select class="form-select" name="type" id="type">
            <option value="paid">نقدی</option>
            <option value="free">رایگان</option>
            <option value="vip">ویژه</option>                       
        </select>
    </div>
      <div class="form-group row">
        <div class="col">
            <label for="posts" class="control-label font-weight-bold font-weight-bold">پست مربوطه</label>
            <select class="form-select" name="posts" id="posts">
              <% Posts.forEach(post => { %> 
                <option value="<%= post.id %>"><%= post.title %></option>                        
            <% }) %>
            </select>
        </div>
        
        <div class="form-group row">
          <div class="col">
              <label for="tags" class="control-label font-weight-bold font-weight-bold">تگ ها</label>
              <select name="tags" id="tags" class="form-control form-control-chosen" data-placeholder="دسته بندی مورد نظر ..." multiple>
                  <% Tags.forEach(tag => { %> 
                      <option value="<%= tag.id %>"><%= tag.name %></option>                        
                  <% }) %>
              </select>
          </div>
      </div> 
    </div>
    <div class="form-group row">
      <div class="col mt-3">
        <button type="submit" class="btn btn-danger">ارسال</button>
      </div>
    </div>
  </form>
</div>
